footer{
  position: fixed;
  display: flex;
  margin-top: 40px;
  padding: 20px;
  width: 100%;
  left: 0;
  bottom: 0;
  display:flex;
  background: #56CCF2;
}
footer .footer_title{
  text-align: center;
  color:white;
  width:50%;
  font-size:50px;
  font-weight:bold;
  margin:0 auto;
}
footer .footer_icons{
  width:50%;
  display:flex;
  align-items:center;
  justify-content: space-around;
}
.footer_icons ul{
  list-style-type: none;
  display:flex;
}
.footer_icons li{
  padding:10px;
  margin:0px 20px;
}
.footer_icons li:hover{
  background:rgb(17, 206, 206);
}
.footer_icons img{
  width:30px;
}